.box {
    /*margin-top: 70px;*/
    width: 100px;
    height: 100px;
    border: 2px solid lightcoral;
    background-color: burlywood;
    transition: width 5s, height 10s, transform 1s;
    /* late transition */
    /*transition: width 5s linear 2s;*/
}
.box:hover {
    width: 200px;
    height: 200px;
    transform: rotate(70deg);
}